In [79]:
import pandas as pd
import spacy
import en_core_web_sm # Language model to be used for nlp()
nlp = en_core_web_sm.load()

In [80]:
fox = pd.read_csv("fox_followers.csv", encoding = "unicode_escape")
cnn = pd.read_csv("cnn_followers.csv", encoding = "unicode_escape")

In [90]:
fox.head()

,Unnamed: 0,user_id,description,place_full_name,country,friends_count,account_lang,lang,created_at
0,1,948997266,Iowa State University,NaN,NaN,500,en,en,2019-02-01 10:58:26
1,2,2762605662,Long live Britain and America and all the true...,NaN,NaN,795,en,en,2019-01-31 21:29:32
2,3,1074363473080000512,"Intelligent, patients,loyal ,kind ,love ,compa...",NaN,NaN,380,en,en,2019-02-01 09:49:38
3,4,560692070,#LongLiveBigBen <U+0001F64F><U+0001F3FF>,NaN,NaN,842,en,en,2019-01-23 04:23:34
4,5,1088956155500490753,IM A SURVIVOR AKA A WALKING MIRACLE AKA A PHEN...,NaN,NaN,974,en,en,2019-02-01 09:57:34

In [89]:
cnn.head()

,Unnamed: 0,user_id,description,place_full_name,country,friends_count,account_lang,lang,created_at
0,1,1089863600246849536,optimistic,NaN,NaN,341,en,en,2019-01-31 10:34:58
1,2,791969492427341824,fav YouTuber: @moesargi\r\nfav music artist: @...,NaN,NaN,730,en,en,2019-01-31 10:39:38
2,3,957862952261926913,Follower of Living god @donnypangilinan and th...,NaN,NaN,634,en,en,2019-01-31 10:24:58
3,4,816924548796792833,I love to help anyone that's Serious about Mak...,NaN,NaN,4790,en,en,2019-01-27 18:54:23
4,5,1052194171795243008,praising and worshiping my God makes me happy,NaN,NaN,258,en,en,2019-01-22 10:17:57

In [92]:
def return_NER(df):
    
    """Takes in a pandas dataframe formatted as expected: 
    
       ['Unnamed: 0', 'user_id', 'description', 'place_full_name', 'country',
           'friends_count', 'account_lang', 'lang', 'created_at']
        
        Uses the spacy library to perform Named Entity Recognition (amongst other text analysis).
        
        Stores and outputs the results for each user in a new dataframe, which contains either a single value 
        or a set of values for each Named Entity.
       """
    
    
    df_result = pd.DataFrame(columns=["user_id", "Description", "NER", 
                                        "GPE", "LOC", "ORG", "NORP", "WORK_OF_ART", "Other"],
                              index = range(len(df)))

    for i in range(len(df)):
        df_result.iloc[i, 0] = df.iloc[i, 1] # Transfering user_id to the result df
        df_result.iloc[i, 1] = df.iloc[i, 2] # Transfer the description

        NER = []
        GPE = set() # set () avoids duplicates
        LOC = set()
        ORG = set()
        NORP = set()
        WORK_OF_ART = set()
        other = set()

        text = str(df.iloc[i, 2]) # Description
        
        doc = nlp(text) # One single call to spacy, returns the whole text analysis

        for ent in doc.ents: # doc.ents stores everything related to NER
            
            NER.append((ent.text, ent.label_)) # Raw NER
            
            # Filters the entities based on type
            if ent.label_ == "GPE": # Country, cities, states
                GPE.add(ent.text)
            elif ent.label_ == "LOC": # Locations others than GPEs 
                LOC.add(ent.text)
            elif ent.label_ == "ORG": # Organizations
                ORG.add(ent.text)
            elif ent.label_ == "NORP": # Nationalities, religious or political groups
                NORP.add(ent.text)
            elif ent.label_ == "WORK_OF_ART": # Titles of books, songs, etc. (can help determining hobbies)
                WORK_OF_ART.add(ent.text)            
            else:
                other.add((ent.text, ent.label_))
        
        
        results = [NER, GPE, LOC, ORG, NORP, WORK_OF_ART, other]
        
        # Loops over the sets to incorporate them into the final dataframe
        for j in range(len(results)):
            if len(results[j]) == 0:
                pass
            elif len(results[j]) == 1:
                # .pop method works both on lists & sets
                df_result.iloc[i, j+2] = results[j].pop() #j+2 = column index (2 first columns are id & raw text)
            else:
                df_result.iloc[i, j+2] = results[j] # If several results for one tag, stores them as a set in the df
    return df_result

In [91]:
NER_fox = return_NER(fox)
NER_fox.to_csv("NER_fox.csv")

In [93]:
NER_cnn = return_NER(cnn)
NER_cnn.to_csv("NER_cnn.csv")

In [94]:
NER_cnn

,user_id,Description,NER,GPE,LOC,ORG,NORP,WORK_OF_ART,Other
0,1089863600246849536,optimistic,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,791969492427341824,fav YouTuber: @moesargi\r\nfav music artist: @...,"[(YouTuber, PERSON), (@5sos, ORG), (@sarah J.,...",NaN,NaN,@5sos,NaN,NaN,"{(@sarah J., PERSON), (YouTuber, PERSON)}"
2,957862952261926913,Follower of Living god @donnypangilinan and th...,"[(@donnypangilinan, GPE), (@KissesDelavin, PER...",@donnypangilinan,NaN,NaN,NaN,NaN,"{(DonKiss, MONEY), (@KissesDelavin, PERSON)}"
3,816924548796792833,I love to help anyone that's Serious about Mak...,"[(Serious, GPE), (#socialmedia #, MONEY)]",Serious,NaN,NaN,NaN,NaN,"(#socialmedia #, MONEY)"
4,1052194171795243008,praising and worshiping my God makes me happy,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1054963261098078209,Dnnmndnjnj<U+0923><U+0927><U+0927><U+0927><U+0...,"(Dnnmndnjnj, ORG)",NaN,NaN,Dnnmndnjnj,NaN,NaN,NaN
6,420585058,"Everton following, movie watching, book loving...","(Everton, ORG)",NaN,NaN,Everton,NaN,NaN,NaN
7,3133777988,utes 22 <U+0392>T<U+03A0>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1046770645823033344,A new and permanent fixture on the professiona...,"[(the 9th - 11th August 2019, DATE), (dc@zeuse...",NaN,NaN,dc@zeusevents.co.uk,NaN,NaN,"(the 9th - 11th August 2019, DATE)"
9,1085016029560897537,BORN IN 01.09.2000\r\nLIVES IN UDUVIL :JAFFNA:...,"[(01.09.2000, CARDINAL), (UDUVIL, GPE), (JAFFN...","{SRI LANKA, JAFFNA, UDUVIL}",NaN,NaN,NaN,NaN,"{(01.09.2000, CARDINAL), (J/KOKUVIL HINDU COLL..."
10,302140545,"Road trips, rock music <U+0001F3B6><U+0001F3B6>",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1032178726556114945,Junior SEO Specialist @SpotcapGlobal,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,4264403054,NIPPON DATA SYSTEMS LIMITED is a provider of ...,"[(NIPPON DATA SYSTEMS LIMITED , ORG), (Indust...",NaN,NaN,"{Cloud Solutions, Industry Specific Software A...",NaN,NaN,"{(#ERP, MONEY), (SCM, MONEY)}"
13,160145616,Entrepreneur*Actress*Model*Face of Preety Woma...,"(Child, MONEY)",NaN,NaN,NaN,NaN,NaN,"(Child, MONEY)"
14,1073475974069551104,Entrepreneur,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1072897701375729664,"A curious soul, would be #author interested in...","[(Israel, GPE), (Poetry, MONEY), (Psychiatry, ...",Israel,NaN,NaN,NaN,NaN,"{(Poetry, MONEY), (Psychiatry, MONEY)}"
16,1069485759898550273,politically conscious,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1065069836097617925,Store: https://t.co/9FQm4TRN1q\r\nIf you like ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,851486080738131970,"I plan to live for ever. so far, so good",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,153708617,Australian ARMY - 95 liner,"[(Australian, NORP), (ARMY, ORG)]",NaN,NaN,ARMY,Australian,NaN,NaN
20,2437367476,Everybody L<U+262F><U+FE0F>ves chrisay,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,602989684,Sofware Developer,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,306765931,Cr7<U+0001F4A5>Vijay<U+2665><U+FE0F>ARR<U+0001...,"[(Cr7<U+0001F4A5>Vijay, ORG), (ARR<U+0001F4AB,...",NaN,NaN,"{MSD, Cr7<U+0001F4A5>Vijay, ARR<U+0001F4AB}",NaN,NaN,NaN
23,1084142979433017346,Main interest in politics,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,2347367479,live and let live,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1089755779643699200,MiLL. <U+0001F3E1>,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,1065471147368562688,Hi we're Victoria and Stephan! We are cousins ...,"[(Victoria, PERSON), (Stephan, GPE)]",Stephan,NaN,NaN,NaN,NaN,"(Victoria, PERSON)"
27,987373268947689472,cool calm collective person\r\nkeep it real #PSO#,"(#PSO#, MONEY)",NaN,NaN,NaN,NaN,NaN,"(#PSO#, MONEY)"
28,909681155422674944,"Global Entertainment, Bighit Entertainment.","[(Global Entertainment, ORG), (Bighit Entertai...",NaN,NaN,"{Bighit Entertainment, Global Entertainment}",NaN,NaN,NaN
29,991011055475265537,LAWYER IN A PRIVATE PRACTICE.,"(LAWYER, GPE)",LAWYER,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
3921,1122869946,"I am a simple,cool-headed and reserved dude wh...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3922,33279769,Adviseur bij https://t.co/6xIqH7093e / entrepr...,"[(Adviseur, PERSON), (https://t.co/6xIqH7093e,...",NaN,NaN,https://t.co/6xIqH7093e,NaN,NaN,"{(Adviseur, PERSON), (Grunn, PERSON)}"
3923,31279143,IG: maquels,"(IG, ORG)",NaN,NaN,IG,NaN,NaN,NaN
3924,242289683,<U+064A><U+0627> <U+0628><U+0644><U+0627><U+06...,[(U+0648><U+0645><U+064E><U+0644><U+0626><U+06...,U+0627><U+0644><U+0623><U+0631><U+0636,NaN,U+0648><U+0623><U+062F><U+0628>.,NaN,NaN,(U+0648><U+0645><U+064E><U+0644><U+0626><U+062...
3925,2998222145,"Nurse, wife, cat parent, ultimate housework da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3926,919130561498767360,LUCIA ZWANE <U+0001F5A4>,"(LUCIA ZWANE, ORG)",NaN,NaN,LUCIA ZWANE,NaN,NaN,NaN
3927,1088498674408116224," Law of Attraction  Ask, Believe, Receive  ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3928,872764930373668864,An online platform for citizens and candidate ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3929,856394042,live learn teach,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3930,1081041438060802048,Progressive Democrat. Vegan. Will follow back ...,"[(Democrat, NORP), (Vegan, PERSON), (Democrats...",{U+0001F499><U+0001F30A><U+0001F308><U+0001F9E...,NaN,EqualPay #Resist,"{Democrat, Democrats}",NaN,"{(#BillionaireTax #, MONEY), (Vegan, PERSON)}"
3931,951449534504222720,<U+0001F3C4> Persistent overcome Resistance <U...,"[(Persistent, ORG), (CA, ORG), (Finance &, ORG)]",NaN,NaN,"{Finance &, Persistent, CA}",NaN,NaN,NaN
3932,952584282551103489,|| Biggest Fan of @emraanhashmi || Class 12th ...,"[(@emraanhashmi, PERSON), (12th, ORDINAL), (Bi...",NaN,NaN,Bihari,Indian,NaN,"{(@emraanhashmi, PERSON), (12th, ORDINAL)}"
3933,766234045764296708,"<U+0001F3A7> R&B/Soul, Jazz <U+2764><U+FE0F>Ar...","[(R&B/Soul, ORG), (Jazz, ORG), (Art Design & A...",NaN,NaN,"{Jazz, R&B/Soul, Art Design & Architecture}",NaN,NaN,NaN
3934,1089055121366048768,bogara karak,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3935,903338343672545280,#resist Just an old retired man still interest...,"(#resist, MONEY)",NaN,NaN,NaN,NaN,NaN,"(#resist, MONEY)"
3936,324547615,"Nurse, Blackhawks, Cubs, Bears, Music is life,...","[(Cubs, ORG), (Music, ORG), (Animal Lover, PER...",NaN,NaN,"{Music, Pitbull, Cubs}",NaN,NaN,"{(Snapchat, MONEY), (Animal Lover, PERSON)}"
3937,901386377681448960,Ms Dhoni big fan\r\n7300135096,"[(Dhoni, NORP), (7300135096, DATE)]",NaN,NaN,NaN,Dhoni,NaN,"(7300135096, DATE)"
3938,41873019,Life is full of many surprises,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3939,1025642576265859073,BEING HUMAN@@MANOJ POKHREL,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3940,474188531,#Pinstripepride<U+26BE><U+FE0F> #BeTheFight <U...,"(BeTheFight, MONEY)",NaN,NaN,NaN,NaN,NaN,"(BeTheFight, MONEY)"
3941,880474069,On the pursuit of peace and lagom,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3942,873193502238162946,#ELECTRICAL #INDIAN ...working on better tomo...,"[(ELECTRICAL , ORG), (INDIAN, NORP), (tomorro...",NaN,NaN,ELECTRICAL,INDIAN,NaN,"(tomorrow, DATE)"
3943,1077402638994550784,I am reading,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3944,1394195198,Piscean<U+0001F433>  whatever you put out int...,"(Piscean, GPE)",Piscean,NaN,NaN,NaN,NaN,NaN
3945,1078376321502400514,Im that bitch,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3946,2497322112,I am a momma of three wonderful children and a...,"(three, CARDINAL)",NaN,NaN,NaN,NaN,NaN,"(three, CARDINAL)"
3947,1089077381942398976,am proud of my culture,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3948,1089071797461504000,New Zim who this?,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3949,1057201186456117248,kind<U+0001F60A>\r\nnetworker<U+0001F917>\r\no...,"(NX, PERSON)",NaN,NaN,NaN,NaN,NaN,"(NX, PERSON)"
3950,3324611183,#Grace,"(Grace, MONEY)",NaN,NaN,NaN,NaN,NaN,"(Grace, MONEY)"